{% extends "base.html" %}
{% block title %} About Us {% endblock title %}

{% block body %}
    <div class="container">
        <h1>kathan Shah</h1>
        <p>Welcome to MyTodo! We are a team of developers passionate about creating innovative solutions to help you manage your tasks effectively.</p>
        
        <h2>Our Skills</h2>
        <h3>Programming Skills:</h3>
        <ul>
            <li>C/C++</li>
            <li>Python</li>
            <li>Java</li>
            <li>JavaScript</li>
            <li>HTML/CSS</li>
            <li>PHP</li>
            <li>MongoDB</li>
            <li>MYSQL</li>
        </ul>
        
        <h3>Frameworks:</h3>
        <ul>
            <li>Node.js</li>
            <li>Express JS</li>
            <li>Django</li>
            <li>Flask</li>
            <li>Basic knowledge of Spring and Hibernate</li>
        </ul>
        
        <h3>Devops and Cloud:</h3>
        <ul>
            <li>Git</li>
            <li>Jenkins</li>
            <li>Docker</li>
            <li>Ansible</li>
            <li>Terraform</li>
            <li>AWS</li>
        </ul>
    </div>
{% endblock body %}